<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>CSS Calendar - CodePen</title>

    <link rel="stylesheet" href="../css/calendar.css" media="screen" type="text/css" />

</head>

<body>

  <div class="calendar-icon">
  <div class="calendar-weekday">
    Wed
  </div>
  <div class="calendar-icon-body">
    <div class="calendar-monthday">
      24
    </div>
    <div class="calendar-month">
      Aug
    </div>
<div style="clear:left; height:6px;"></div>
<div class="calendar-year"></div>
  </div>
</div>


  <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>
  <script src='../js/codepenJquery.js'></script>

  <script src="../js/calendarIndex.js"></script>

</body>

</html>