<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>Sinograph panel — UI concept - CodePen</title>

    <link rel="stylesheet" href="../css/chinaButton.css" media="screen" type="text/css" />

</head>

<body>

  <div id='wrapper'>
      <fieldset>
        <h2>Legend:</h2>
        <a type:="checkbox" class='glowBtn'>Waiting</a>
        <a type:="checkbox" class='glowBtn hover'>Hover</a>
        <a type:="checkbox" class='glowBtn active'>Active</a>
        <a type:="checkbox" class='glowBtn Veryactive'>VeryActive</a>
      </fieldset>
      <fieldset>
        <h2>Checkboxes w/ memory!</h2>
        <!-- checkbox one -->
        <input type='checkbox' id='checkbox1-1' checked='checked' name='checkbox'>
        <label for='checkbox1-1'>我</label>
        <!-- checkbox two -->
        <input type='checkbox' id='checkbox1-2' name='checkbox'>
        <label for='checkbox1-2'>你</label>
        <!-- checkbox three -->
        <input type='checkbox' id='checkbox1-3' name='checkbox'>
        <label for='checkbox1-3'>他</label>
        <!-- checkbox Four -->
        <input type='checkbox' id='checkbox1-4' name='checkbox'>
        <label for='checkbox1-4'>俄</label>
        <!-- checkbox Five -->
        <input type='checkbox' id='checkbox1-5' name='checkbox'>
        <label for='checkbox1-5'>國</label>
        <!-- checkbox Six -->
        <input type='checkbox' id='checkbox1-6' name='checkbox'>
        <label for='checkbox1-6'>滴</label>
      </fieldset>
      <fieldset>
         <h2>The Super Button!</h2>
                <a class='superBtn'>Add</a>
      </fieldset>
    </div>

  <script src='http://codepen.io/assets/libs/fullpage/none.js'></script>

  <script src="../js/chinaButton.js"></script>

</body>

</html>