<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="../css/layout.css"/>
    <link rel="stylesheet" type="text/css" href="../css/calendar.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../css/dateBubble.css" media="screen" />
     <link rel="stylesheet" type="text/css" href="../css/menu.css" media="screen" />
     <link rel="stylesheet" href="../css/socialButtons.css" media="screen" type="text/css" />
     <link rel="stylesheet" href="../css/navBar.css" media="screen" type="text/css" />
     <link rel="stylesheet" href="../css/superButton.css" media="screen" type="text/css" />
     <link rel="stylesheet" href="../css/chinaButton.css" media="screen" type="text/css" />

  <script src="../js/prefixfree.min.js"></script>
  <script src="../js/modernizr.js"></script>

  </head>
  <title> My Flex pages</title>
  <body>
 <header>
     
    <ul id="menu">
  <li><a href="#">Home</a></li>
  <li><a href="#">Categoried</a>
    <ul>
      <li><a href="#">Css</a></li>
      <li><a href="#">Graphic design</a></li>
      <li><a href="#">Development tools</a></li>
      <li><a href="#">Web design</a></li>
    </ul>
  </li>
  <li><a href="#">Work</a>
    <ul>
      <li><a href="#">A girl</a></li>
      <li><a href="#">Two pigs</a></li>
      <li><a href="#">Three birds</a></li>
      <li><a href="#">Four boys</a></li>
    </ul>
  </li>
  <li><a href="#">About</a></li>
  <li><a href="#">Content</a></li>
</ul>
     
     </header>
 <div id='main'>

    <article>




<section id="timeline">
  <article>
    <div class="inner">
      <span class="date">
        <span class="day">30<sup>th</sup></span>
        <span class="month">Jan</span>
        <span class="year">2014</span>
      </span>
      <h2>Hello / English</h2>
      <p>Just wants to show some nice css.</p>
    </div>
  </article>
  <article>
    <div class="inner">
      <span class="date">
        <span class="day">26<sup>th</sup></span>
        <span class="month">Jan</span>
        <span class="year">2014</span>
      </span>
      <h2>Dorod / Persian</h2>
      <p>And another nice one.</p>
    </div>
  </article>
  <article>
    <div class="inner">
      <span class="date">
        <span class="day">30<sup>th</sup></span>
        <span class="month">Jan</span>
        <span class="year">2014</span>
      </span>
      <h2>Previet / Russian</h2>
      <p>Just wants to show some nice css.</p>
    </div>
  </article>
  <article>
    <div class="inner">
      <span class="date">
        <span class="day">26<sup>th</sup></span>
        <span class="month">Jan</span>
        <span class="year">2014</span>
      </span>
      <h2>Ohola / Spanish</h2>
      <p>And another nice one.</p>
    </div>
  </article>
 
</section>

</article>
    <nav><div id="social-links">
      <ul id="social-icons">
        <li class="facebook"><a class="zocial-facebook" href="#"></a></li>
        <li class="twitter"><a class="zocial-twitter" href="#"></a></li>
        <li class="linkedin"><a class="zocial-linkedin" href="#"></a></li>
        <li class="forrst"><a class="zocial-forrst" href="#"></a></li>
        <li class="github"><a class="brandico-github"href="#"></a></li>
        <li class="instagram"><a class="brandico-instagram" href="#"></a></li>
      </ul>
    </div></nav>
<aside>
    
    <div class="calendar-icon">
  <div class="calendar-weekday">
    Wed
  </div>
  <div class="calendar-icon-body">
    <div class="calendar-monthday">
      24
    </div>
    <div class="calendar-month">
      Aug
    </div>
<div style="clear:left; height:6px;"></div>
<div class="calendar-year"></div>
  </div>
</div>
</aside> </div>
 <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>
 <script src='../js/codepenJquery.js'></script>
  <script src="../js/calendarIndex.js"></script>
   <script src="../js/chinaButton.js"></script>
 <footer>footer</footer>
  
  </body>
</html>