<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>CSS Generated Content Buttons - CodePen</title>

    <link rel="stylesheet" href="../css/socialButtons.css" media="screen" type="text/css" />

</head>

<body>

  <div id="social-links">
      <ul id="social-icons">
        <li class="facebook"><a class="zocial-facebook" href="#"></a></li>
        <li class="twitter"><a class="zocial-twitter" href="#"></a></li>
        <li class="linkedin"><a class="zocial-linkedin" href="#"></a></li>
        <li class="forrst"><a class="zocial-forrst" href="#"></a></li>
        <li class="github"><a class="brandico-github"href="#"></a></li>
        <li class="instagram"><a class="brandico-instagram" href="#"></a></li>
      </ul>
    </div>



</body>

</html>