<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>Dark Ui elements - CodePen</title>

    <link rel="stylesheet" href="../css/superButton.css" media="screen" type="text/css" />

</head>

<body>

  <div id='wrapper'>
            <fieldset>
                <h2>Buttons!</h2>
                <a class='glowBtn'>Button</a>
                <a class='glowBtn hover'>Hover</a>
                <a class='glowBtn active'>Active</a>
            </fieldset>
            <fieldset>
                <h2>Radio Buttons!</h2>
                <!-- Radio one -->
                <input type='radio' id='radio1-1' checked='checked' name='radio'>
                <label for='radio1-1'>8</label>
                <!-- Radio two -->
                <input type='radio' id='radio1-2' name='radio'>
                <label for='radio1-2'>7</label>
                <!-- Radio three -->
                <input type='radio' id='radio1-3' name='radio'>
                <label for='radio1-3'>6</label>
            </fieldset>
            <fieldset>
                <h2>The Super Button!</h2>
                <a class='superBtn'>Super Button</a>
            </fieldset>
        </div>
</body>

</html>